@font-face {
    -fx-font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Bold.ttf');
}

.background {
  -fx-background-image: url("../img/fondMenuJeu.png");
}

.buttonMenu {
    -fx-text-fill:#000000;
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 16px;
    -fx-font-family: "Comfortaa";
}

.buttonMenu:hover {
    -fx-background-color: #273c757e;
    -fx-text-fill:#ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0, 0, 0);
}
